body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size:10px;
}

h1 {
    text-align: center   
}

.axis path,.axis line {
    fill: none;
    stroke:#b6b6b6;
    shape-rendering: crispEdges;
}

.tick text{fill:#999;}

g.neighbourhood.active{cursor:pointer;}

text.label{font-size:12px;font-weight:bold;cursor:pointer;}
text.value{font-size:12px;font-weight:bold;}

